@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    /* border: solid red 2px; */
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    max-width: 600px;
    margin: auto;
    /* border: solid black 2px; */
}

.main-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 415px;
    width: 270px;
    border-radius: 5%;

}

#qr-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

#qr-div img {
    height: 100%;
    width: 90%;
    border-radius: 5%;
}

#bold-text-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8%;
    font-size: 1.2em;

    font-weight: 900;
    /* border: solid black 2px; */
}

#paragraph-text-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-size: .7em;
    font-weight: 700;
    text-align: center;
    color: gray
    /* border: solid black 2px; */
}

@media (max-width: 800px) {
    .main-container {
        width: 95%; 
    }
}

@media (max-width: 480px) {
    main{
          width: 95%;
          height: 70vh;
          /* border: solid black 2px; */
      
    }

    .main-container {
        width: 85%;
        height: 60vh;
        margin-right: 5px;
    }

    #bold-text-div {
        font-size: 1.4em;
        font-weight: 900;
    }

    #paragraph-text-div {
        font-size: 1em;
        font-weight: 300;
    }

}